.zero {
    margin: 0px;
    padding: 0px;
}

/* .content-wrapper {
    -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    margin-left: 230px;
  } */
.form-container {
    padding: 20px;
    margin: 20px 200px 20px 200px;
    
    /* padding-bottom: 10px; */
}

.form {
      /* margin-left: 20px; */
      /* background-color: yellow; */
      border: thick black;
  }


.input {
    margin: 10px;
}

.notes {
    margin:10px;
    height: 100%;
}


/* columns */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

  .btnAjust {
   margin-right: auto;
  }

  @media (min-width: 770px) {
    .form-container {
        margin: 0px;
    }
  }