body {
  font-family: 'Roboto', sans-serif;
}
.fs {
  font-size: 30px;
}
.dark {
  color: #393e46;
}
.bright {
  color: #f4f6ff;
}
.transparent {
  color: rgb(255, 255, 255, 0.5);
}
.orange-gradient {
  color: #fa782e;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fa782e 8%, #c82930 83%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fa782e', endColorstr='#c82930', GradientType=1);
}
.b-green {
  background: #11e95b;
  color: #464159;
}
.b-purple {
  background: #7460ee;
  color: #fff;
}
.card-event {
  position: inherit;
  width: 288px;
  height: 382px;
  margin: 20px 10px 20px 35px;
  border-radius: 25px;
}
.card-head {
  position: relative;
  height: 252px;
  background: #fa782e;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fa782e 8%, #c82930 83%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fa782e', endColorstr='#c82930', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 25px 25px 0 0;
}
/* .back-text {
  display: inline-block;
  font-size: 71px;
  font-weight: 900;
  margin-left: -3px;
  margin-top: 63px;
  opacity: 0.1;
} */
.card-body {
  height: 128px;
  background: #fff;
  padding: 1rem;
  border-radius: 0 0 25px 25px;
}
.card-location {
  font-size: 12px;
  margin-top: 12px;
  text-align: center;
}
.event-title {
  padding: 20px 20px 5px 20px;
  display: block;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.event-title b {
  font-weight: 900;
  letter-spacing: 0px;
}
.badge {
  position: relative;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 3px 5px;
  border-radius: 0px;
  /* top: -10px; */
  /* margin-left: 20px; */
  float: right;
}
.event-caption {
  display: block;
  padding: 0 20px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}
.event-rating {
  padding: 0 20px;
  font-size: 11px;
}
.event-size h4 {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 9px;
}
.event-size:before,
.event-size:after {
  content: '';
  display: block;
  clear: both;
}
.ul-size {
  margin-left: -31px;
}
.ul-size li {
  list-style: none;
  margin-right: 10px;
  display: inline-block;
  font-size: 11px;
  font-weight: 300;
  width: auto;
  height: 22px;
  text-align: center;
  line-height: 23px;
  color: #000;
}
.event-button {
  position: absolute;
  background: #12CAD6;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: 200;
  color: #fff;
  border-radius: 7px;
  margin-top: -37px;
  margin-left: 131px;
  box-shadow: -10px 20px 15px -10px rgba(15, 171, 188, 0.3);
}
.event-button:hover {
  color: #fff;
  background: #10B0BC;
  box-shadow: -10px 20px 15px -10px rgba(10, 105, 112, 0.3);
}
.event-button b {
  margin-left: 5px;
  font-weight: 600;
}
.map-content {
  margin: auto;
}