body {
  font-family: 'Roboto', sans-serif;
}
.br-l {
  border-radius: 0 0 0 25px;
}
.br-b {
  border-radius: 0 0 25px 0;
}
.event-full {
  position: relative;
  margin: 20px 10px 20px 35px;
}
.back-text {
  position: absolute;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 9;
}
.event-img {
  position: relative;
  width: 300px;
  height: 450px;
  border-radius: 25px 25px;
}
.card-button {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 89%;
}

.default-btn {
  padding: 15px 0;
  border: 1px solid #cdcdcd;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  cursor: pointer;
}
.icon-btn {
  padding: 16px 63.85px;
  color: rgb(255, 255, 255, 0.8);
}
.icon-btn:hover,
.icon-btn:focus {
  color: #fff;
}
.default-btn:hover {
  background: #10B0BC;
}
a[data-tooltip].top:before, a[data-tooltip].top:after {
  transform: translateY(10px);
}
a[data-tooltip].top:hover:after, a[data-tooltip].top:hover:before {
  transform: translateY(0px);
}
a[data-tooltip] {
  position: relative;
}
a[data-tooltip]:after, a[data-tooltip]:before {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: transform 200ms ease, opacity 200ms;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 99;
}
a[data-tooltip]:before {
  content: attr(data-tooltip);
  background: #fff;
  color: #000;
  font-size: 10px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
a[data-tooltip]:after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: '';
}
a[data-tooltip]:hover:after, a[data-tooltip]:hover:before {
  visibility: visible;
  opacity: 0.6;
  transform: translateY(0px);
}
a[data-tooltip][data-position="top"]:before {
  bottom: 100%;
  left: 18%;
  margin-bottom: 10px;
}
a[data-tooltip][data-position="top"]:after {
  border-top-color: #fff;
  border-bottom: none;
  bottom: 99%;
  left: calc(50% - 6px);
  margin-bottom: 4px;
  opacity: 0.6;
}
