.title-container{
    width: 300px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 15px;
   }
   
   .submit{
       width: 100px;
   }
   
   .right{
       float: right;
   }