.title-container{
    width: 300px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 15px;
    margin-left: 30px;
   }

   .right{
       float: right;
   }

.va-joinin-btn {
  background-color: #F49C12;
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  padding: 4px 16px;
  position: static;
  letter-spacing: 1px;
  margin-top: 10px;
}